.page-header{
position: relative;
}

.page-header .nav{
display: flex;
align-items: center;
justify-content: space-between;
min-height: 80px;
}

.company-logo{
width: 150px;
height: 50px;
background-color:blue;
color: white;
padding-bottom: 20px;
padding-top: 20px;
text-align: center;
text-decoration: none;
}
